* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    background-image: url(../images/arches/arches.png);
    color: #655a48;
    font-family: 'IM Fell Double Pica', serif;
}
i {
    font-style: italic;
}
.flex {
    display: flex;
}

header {
    text-align: center;

}

h1 {
    font-size: 2em;
    font-weight: bolder;
    padding: 0.4em;

}

.kanji {
    padding-top: 0.5em;
    display: block;
}

/* CSS des liens <a>*/
a {
    display: block;
    text-decoration: none;
    padding: 0.5em;
    color: #655a48;
    font-weight: bolder;
}


/*gestion menu Nav*/
nav {
    background-image: url(../images/groovepaper/groovepaper.png);
    margin: 0 auto;
    border-top: 1px solid #cabca3;
    border-bottom: 1px solid #cabca3;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 1);
}

nav ul {


    flex-flow: row nowrap;
    justify-content: center;

}

nav ul li {
    width: 33%;
    position: relative;
}


a:hover {
    text-shadow: 3px 4px 9px rgba(0, 0, 0, 1);

}

/*gestion menu déroulant*/
.sousmenu ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    display: block;
    background-image: url(../images/groovepaper/groovepaper.png);
    border-right: 1px solid #cabca3;
    border-left: 1px solid #cabca3;

    border-bottom: 1px solid #cabca3;
}

.sousmenu ul li {
    width: 100%;
}

.sousmenu:hover ul {
    max-height: 15em;
    background-image: url(../images/groovepaper/groovepaper.png);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #cabca3;


}

/* footer en responsive */
footer {
    text-align: center;
    background-image: url(../images/groovepaper/groovepaper.png);
    border-top: 1px solid #cabca3;
    font-size: smaller;

}

footer a {
    display: inline;
}

footer p {
    padding-top: 0.8em;
}

.footer_screen {
    display: none;
}

/* page en construction*/
.construction {
    height: 60vh;
    text-align: center;

}

/*gestion page accueil en responsive*/

.presentation_responsive,
.summary_responsive {
    width: 70%;
    margin: 2em auto;
    padding: 1em;
    text-align: center;
    background-image: url(../images/groovepaper/groovepaper.png);
    border: 1px solid #cabca3;
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 1);

}

.presentation_responsive h2 {
    font-weight: bolder;
    font-size: 1.5em;

}

.presentation_responsive p {
    padding-top: 0.5em;
}

.summary_responsive {
    flex-flow: row wrap;
}

.summary_responsive a {
    width: 50%;
    margin-bottom: 1.5em;
    color: #655a48;
    text-decoration: none;
}

.image_responsive img {
    width: 70%;
    border-radius: 50%;

}

.presentation_yokai_responsive {
    display: none;
}

/*page Yokai en responsive*/
.page_article article {
    background-image: url(../images/groovepaper/groovepaper.png);
    width: 85%;
    margin: 2em auto;
    text-align: center;
    border: 1px solid #cabca3;
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 1);
}

.page_article h2 {
    padding: 1.2em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bolder;
}

.image_article_responsive img {
    width: 80%;
    border-radius: 50%;
}

.descriptif_article_responsive {
    text-align: justify;
    padding: 1.5em;
}

.descriptif_article_responsive span {
    text-transform: uppercase;
    font-weight: bolder;

}

.descriptif_article_responsive p {
    margin: 1em 0;
}

/* media queries pour les grands écrans*/
@media screen and (min-width: 500px) {

    .image_float {
        float: right;
        width: 60%;
        padding: 1em;
    }

}

@media screen and (min-width: 700px) {
    body {
        font-size: 1.5em;
    }

    .image_float {
        float: right;
        width: 60%;
        padding: 1em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        display: flex;
        

    }

    .left,
    .right,
    .page_article {
        width: 50%;
    }

    .hidden {
        display: none;
    }

    .footer_screen {
        display: block;
        width: 100%;

    }

    .left {
        height: 100vh;
        position: fixed;
        background-image: url(../images/backgroundtengu.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        
    }

    h1 {
        color: #eee9d5;
    }

    .right,
    .page_article {
        border-left: 1px solid #cabca3;
        margin-left: 50%;
        margin-top: 0;
        margin-bottom: 0em;
        background-image: url(../images/arches/arches.png);
    }

    .presentation_responsive {
        background: none;

    }

    .presentation_yokai_responsive {
        display: block;
        text-transform: uppercase;
        font-size: smaller;
    }

    .descriptif_article_responsive {
        padding: 2em;
        height:100vh;
       
    }

    .page_article article {
        background-image: url(../images/arches/arches.png);
        width: 100%;
        
        margin: 0;
        box-shadow: none;
        border:none;
        padding-bottom: 2em;
    }

    .image_float {
        margin-top: 2em;
        padding-bottom: 0.5em;
    }

    .summary_responsive {
        box-shadow: none;
    }

    nav,
    nav a,
    footer,
    footer a {

        box-shadow: none;


    }

    .transparent {
        background-color: rgba(168, 168, 168, 0.363);
        color: #f2f0d9;
    }

    .construction {
        height: 100vh;
        padding-top: 20%;
        border-left: 1px solid #cabca3;
    }
}