* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-image: url(../images/arches/arches.png);
    color: #655a48;
    font-weight: bolder;
}
header {
    text-align: center;
    
}

h1 {
    font-size: 2em;
    padding: 1em 0;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

nav ul li {
    width: 33%;
    position: relative;
}

nav ul li a {
    display: block;
    text-decoration: none; 
    padding:0.5em;   
    color: #655a48;
}

/*gestion menu déroulant*/
.sousmenu ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    width:100%;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    display:block;
    background-image: url(../images/arches/arches.png);
}
.sousmenu ul li{
    width:100%;
}

.sousmenu:hover ul{
    max-height:15em;
    background-image: url(../images/arches/arches.png);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.presentation, .summary_responsive{
    width:70%;
    margin:2em auto;
    padding:1em 1em 0 1em;
    text-align: center;
    
  
}

.summary_responsive {
    /* background-color: rgb(138, 138, 138); */
    display:flex;
    width:80%;
    flex-flow: row wrap;
}
.summary_responsive a {
    width:50%;
    margin-bottom: 1.5em;
    color:#655a48;
    text-decoration: none;
}
.image_responsive img{
    width:50%;
    border-radius: 50%;
    
}
