* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-image: url(../images/arches/arches.png);
    color: #655a48;
    font-family: 'IM Fell Double Pica', serif;
}
header {
    text-align: center;
    
}

h1 {
    font-size: 2em;
    padding: 1em 0;
}
nav {
    background-image: url(../images/groovepaper/groovepaper.png);
    margin:0 auto;
    border-top: 1px solid #cabca3;
    border-bottom: 1px solid #cabca3;
}
nav ul {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
}

nav ul li {
    width: 33%;
    position: relative;
}

nav ul li a {
    display: block;
    text-decoration: none; 
    padding:0.5em;   
    color: #655a48;
    font-weight: bolder;
}
.hover_nav:hover{
    text-shadow: 3px 4px 9px rgba(0, 0, 0, 1); 

}
/*gestion menu déroulant*/
.sousmenu ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    width:100%;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    display:block;
    background-image: url(../images/groovepaper/groovepaper.png);
    border-right:1px solid #cabca3 ;
    border-left:1px solid #cabca3 ;
    
    border-bottom:1px solid #cabca3 ;
}
.sousmenu ul li{
    width:100%;
}

.sousmenu:hover ul{
    max-height:15em;
    background-image: url(../images/groovepaper/groovepaper.png);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom:1px solid #cabca3 ;
    
   
}

/*gestion page accueil en responsive*/

.presentation_responsive, .summary_responsive{
    width:70%;
    margin:2em auto;
    padding:1em 1em 0 1em;
    text-align: center;
    background-image: url(../images/groovepaper/groovepaper.png);
    border: 1px solid #cabca3;
  
}
.presentation_responsive h2 {
    font-weight: bolder;
    font-size: 1.5em;
    padding-bottom: 0.8em;
}
.presentation_responsive p {
    padding-bottom: 1em;
}
.summary_responsive {
    display:flex;
    flex-flow: row wrap;
}
.summary_responsive a {
    width:50%;
    margin-bottom: 1.5em;
    color:#655a48;
    text-decoration: none;
}
.image_responsive img{
    width:50%;
    border-radius: 50%;
    
}

/*page Yokai en responsive*/
.page_article article {
    background-image: url(../images/groovepaper/groovepaper.png);
    width:85%;
    margin : 2em auto;
    text-align: center;
    border: 1px solid #cabca3;
}
.page_article h2 {
    padding: 1.2em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bolder;
}
.image_article_responsive img{
    width : 80%;
    border-radius: 50%;
}
.descriptif_article_responsive {
    text-align: justify;
    padding:1.5em;
}
.descriptif_article_responsive span {
    text-transform:uppercase;
    font-weight: bolder;

}
.descriptif_article_responsive p {
    margin: 1em 0;
}
